<div class="col-lg-12">
	<h3 class="page-header">
		<i class="icon_house_alt"></i> Change Password
	</h3>
	<ol class="breadcrumb">
	<li><i class="fa fa-home"></i><a ui-sref="Home">Home</a></li>
		<li><i class="icon_document_alt"></i>Change Password</li>				

	</ol>
</div>
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<!-- <header class="panel-heading"> Change UserName Password </header> -->
			<br />
			  <div class="panel-body">
                 
                 <div class="alert alert-block alert-danger fade in "  ng-show="SameAsPrevious">
                          <button data-dismiss="alert" class="close close-sm" type="button">
                              <i class="icon-remove"></i>
                          </button>
                        <strong>{{message}}</strong>
                     </div>
          			
                      <div class="alert alert-info fade in" ng-show="UpdatedPassword">
                          <button data-dismiss="alert" class="close close-sm" type="button">
                              <i class="icon-remove"></i>
                          </button>
                          <strong>{{message}}</strong>
                           
                      </div>
                      
                      <div class="alert alert-block alert-danger fade in "  ng-show="NotUpdatedPassword">
                          <button data-dismiss="alert" class="close close-sm" type="button">
                              <i class="icon-remove"></i>
                          </button>
                        <strong>{{message}}</strong>
                     </div>
                     

			<form name="ChangeusernameForm" method="POST">
				<div class="form-group">
					<label class="col-sm-2 control-label">CurrentPassword</label> <input ng-model="CurrentPassword"
						type="password" class="form-control"  required placeholder="Current Password">
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">New Password</label> <input ng-model="NewPassword"
						type="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" title="Password contains 1 lowercase,uppercase,special character and digit." required placeholder="New Password">
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Re-type Password</label> <input ng-model="RePassword"
						type="password" class="form-control"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" title="Password contains 1 lowercase,uppercase,special character and digit." required placeholder="Re-type Password"/>
				</div>
				<button type="submit" class="btn btn-success"
					ng-click="ChangeusernameForm.$valid && changePassword()">Submit</button>
			</form>
			
	</div>
	</section>

</div>
</div>

