<div class="col-lg-12">
					<h3 class="page-header"><i class="icon_genius"></i> Add/Edit Subject</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
						<li><i class="icon_genius"></i>Add/Edit Subject</li>
						
				</div>  
  
  
  <div class="col-lg-12"> 
               
                <!-- -----------------------------  Start :  Add subject to Institute  ---------------------------------->  
                <div><h2>Add new Subject to Institute</h2></div>
                   <section class="panel">
                      <div class="panel-group m-bot20" id="accordion">
                          <div class="panel panel-primary">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                                          Add Subject to Institute <span class="menu-arrow arrow_carrot-down"></span>
                                      </divs>
                                  </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse">
                                  <div class="panel-body">
			                                  
			                          
			                                      <form name="AddSubjectForm" class="form-validate form-horizontal">
			                                  
					                                      <div class="form-group ">
					                                          <label for="cname" class="control-label col-lg-2">New Subject Name <span class="required">*</span></label>
					                                          <div class="col-lg-10">
					                                              <input class="form-control" ng-model="subjectName"  maxlength="50" type="text" required="required" />
					                                          </div>
					                                          <br></br>
					                                          <label for="cname" class="control-label col-lg-2">Subject Description<span class="required">*</span></label>
					                                          <div class="col-lg-10">
					                                              <input class="form-control" ng-model="subjectDescription" maxlength="500" type="text" required="required" />
					                                          </div>
					                                      </div>
					                                      
					                                      <div ng-show="!AddSubjectForm.$valid" class="alert alert-block alert-danger fade in">
														      <button data-dismiss="alert" class="close close-sm" type="button">
															    <i class="icon-remove"></i>
														      </button>
														      <strong>Add Subject and description</strong>
											              </div>
					                                     
					                                      <div class="form-group">
					                                          <div class="col-lg-offset-2 col-lg-10">
					                                              <button class="btn btn-primary" type="submit" ng-click="addSubjectToInstitute()">Add Subject</button>
					                                          </div>
					                                      </div>
			                                       </form>
			                                
                                  </div>
                              </div>
                          </div>
                     </div>
          </section> 
          
           <!-------------------------------------   End : Add subject to Institute  ---------------------------------->
           
           <!-----------------------------------  Start : Show subject to Institute  ---------------------------------->
               
               <section class="panel">
           
                       <div class="panel-body" ng-show="ShowSubjectTable">
                       
                        <div class="alert alert-info fade in" ng-show="SubjectDeleteSuccess">
							                                  <button data-dismiss="alert" class="close close-sm" type="button">
							                                      <i class="icon-remove"></i>
							                                  </button>
							                                  <strong>Subject Delete Successfully</strong> 
							                              </div>
							                              
							                              
							                               <div class="alert alert-block alert-danger fade in " ng-show="SubjectDeleteError">
							                                  <button data-dismiss="alert" class="close close-sm" type="button">
							                                      <i class="icon-remove"></i>
							                                  </button>
							                                <strong>Error in Deleting Subject</strong>
							                              </div>
							                              
							                              <div class="alert alert-info fade in" ng-show="SubjectUpdateSuccess">
							                                  <button data-dismiss="alert" class="close close-sm" type="button">
							                                      <i class="icon-remove"></i>
							                                  </button>
							                                  <strong>Subject Updated Successfully</strong> 
							                              </div>
							                              
                       
                         <form class="form-horizontal" method="get"> 
                              <div class="form-group" ng-show="filteredTodos.length">
                                  <label class="control-label col-lg-2" for="inputSuccess">Search Subject</label>
                                     <div class="col-lg-10">
                                        <div class="row">
                                          <div class="col-lg-3">                                 
                                              <input type="text" class="form-control" placeholder="search"  ng-model="subject_filter" ng-change="filterSubject()">
                                          </div>
                                        </div>
                                      </div>
                               </div>
                        </form>
                       <br></br>
                         <table id="example" class="table  " ng-show="ShowSubjectTable"  ng-hide="!filteredTodos.length">
                           <tbody>
                             <tr>
							   <th><i class=""></i>Subject Name</th>                               
                               <th>Subject Description</th>                            
                               <th><i class="icon_cogs"></i> Action</th>
                             </tr>
                             <tr ng-repeat="subject in filteredTodos | filter : subject_filter | orderBy : 'name'" ng-class="{selectedrow:subject.Selected}">
									<td> {{ subject.name }}</td>
   							 		<td> {{ subject.discription }}</td>
   							 		<td>
   							 		    <a class="btn btn-primary tooltips" title="Update Subject" data-toggle="modal" data-placement="left" data-original-title="Update Subject"  ng-click="updateSubjectLoad(subject)" data-target="#updateSubjectModal"><i class="icon_plus_alt2"></i></a>
   							 		 
                                        <a class="btn btn-danger tooltips" title="Delete Subject" data-toggle="tooltip" data-placement="right" data-original-title="Delete Subject" ng-click="deleteSubject(subject)"><i class="icon_close_alt2"></i></a>
                                      <!-- <a class="btn btn-danger" ng-click="deleteSubject(subject)" style="margin-left: 10%"><i class="icon_close_alt2"></i></a> -->
                                        
                                         <!-- Modal Start-->
											                              <div class="modal fade" id="updateSubjectModal" tabindex="-1" role="dialog" aria-labelledby="updateSubjectModalLabel" aria-hidden="true">
											                                  <div class="modal-dialog">
											                                      <div class="modal-content">
											                                          <div class="modal-header">
											                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											                                              <h4 class="modal-title">Edit Subject</h4>
											                                          </div>
											                                          <div class="modal-body">
											
											                                              
											                                               <form class="form-horizontal " name="UpdateSubjectForm" method="get">
																                                  <div class="form-group" ng-show=false>
																                                      <label class="col-sm-2 control-label">Subject id<span class="required">*</span></label>
																                                      <div class="col-sm-10">
																                                          <input ng-model="$parent.idEditsubject" type="text" class="form-control" required="required">
																                                      </div>
																                                        
																                                  </div>
																                                 
																                                  <div class="form-group">
																                                      <label class="col-sm-2 control-label">Name<span class="required">*</span></label>
																                                      <div class="col-sm-10">
																                                          <input ng-model="$parent.nameEditsubject" type="text" class="form-control" required="required">
																                                      </div>
																                                        
																                                  </div>
																                                   <div class="form-group">
																                                      <label class="col-sm-2 control-label">Description<span class="required">*</span></label>
																                                      <div class="col-sm-10">
																                                          <input ng-model="$parent.descriptionEditsubject" type="text" class="form-control" required="required">
																                                      </div>
																                                  </div>
																                                 
																                                 <div class="form-group">
																                                      <div class="col-lg-offset-2 col-lg-10">
																                                          <button type="submit" data-dismiss="modal" class="btn btn-primary" ng-click="UpdateSubjectForm.$valid && UpdateSubject()" ng-disabled="!UpdateSubjectForm.$valid || !UpdateSubjectForm.$dirty">Update Subject</button>
																                                      </div>
																                                 </div>
																                           
																                              </form>
											
											                                          </div>
											                                          <div class="modal-footer">
											                                              <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
											                                             <!--  <button class="btn btn-success" type="button">Save changes</button> -->
											                                          </div>
											                                      </div>
											                                  </div>
											                              </div>
											                              <!-- modal End-->
                                        
                                    </td>
   							 </tr>
                          </tbody>
                  </table>
                  
            
                
				<ul uib-pagination  ng-model="currentPage" total-items="totallenght" max-size="maxSize" boundary-links="true"
                    ng-show="ShowSubjectTable" ng-hide="!filteredTodos.length"></ul>
					                  
                  <div class="alert alert-block alert-danger fade in" ng-show="!subjectOfInstituteList.length">
                                  <button data-dismiss="alert" class="close close-sm" type="button">
                                      <i class="icon-remove"></i>
                                  </button>
                                  <strong>There is no subject in Institute</strong> 
                 </div>
   </div> 
  </section>
            </div>           
          