<section class="panel">
                    <div class="panel-body">
                         <form class="form-horizontal "  name="SelectExamForm"  method="get">
                             <div class="form-group">
                                 <label class="control-label col-lg-2" for="inputSuccess">Select Exam To Add Subjects</label>
                                 <div class="col-lg-10">
                                     

                                     <select class="form-control input-lg m-bot15"  ng-model="selectedExamForAddSubject" ng-options="exam.discription for (x,exam) in examList"   ng-change="ExamChanged();HideTreeAddSubjectTree();HideTreeDeleteSubjects()" required="required" required="required" required></select>
                                       <button id="add-max" class="btn btn-primary  btn-sm " ng-disabled="SelectExamForm.$invalid" ng-click="ShowTreeAddNewSubjects();HideTreeDeleteSubjects()" >Add New Subjects</button>
                                       <button id="add-max" class="btn btn-primary  btn-sm " ng-disabled="SelectExamForm.$invalid" ng-click="ShowTreeDeleteSubjects();HideTreeAddSubjectTree()" >Delete Subjects from Exam</button>
                                        <button id="add-max" class="btn btn-primary  btn-sm " ng-disabled="SelectExamForm.$invalid" ng-click="HideTreeDeleteSubjects();HideTreeAddSubjectTree()" >Edit Subjects from Exam</button>
                                 </div>
                              
                           
                           
                         <!--  <button id="add-without-image" class="btn btn-info  btn-sm" ng-disabled="SelectExamForm.$invalid" ng-click="ShowSubjectList()">Add Subject From Subject List</button> -->
                         
                             </div>
                             <div class="form-group">
                               
                             </div>
                         </form>
                    </div>
</section>


<ts-add-new-subject-to-exams></ts-add-new-subject-to-exams>
 
 <ts-delete-subject-from-exams></ts-delete-subject-from-exams>                   






                