<div class="col-lg-12">
	<h3 class="page-header">
		<i class="fa fa-trash-o"></i>Delete Class
	</h3>
	<ol class="breadcrumb">
		<li><i class="fa fa-home"></i><a ui-sref="Home">Home</a></li>
		<li><i class="fa fa-university"></i><a ui-sref="ModifyInstituteStructure">Modify Institute Structure</a></li>
		<li><i class="fa fa-trash-o"></i>Delete Class</li>		
	</ol>
</div> 


<section class="panel" style="WIDTH: 1000px">

<div class="alert alert-info fade in" ng-show="successMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>Class Successfully Deleted from Branch</strong> 
 </div>
 
 <div class="alert alert-block alert-danger fade in" ng-show="errorMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>Class Not Successfully Deleted from Branch, please delete divisions of this class</strong> 
 </div>
 
  <div class="alert alert-block alert-danger fade in" ng-show="selectBranchMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>Select branch from dropdown list</strong> 
 </div>
 
 <div class="alert alert-block alert-danger fade in" ng-show="selectClassMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>Select class from dropdown list</strong> 
 </div>

  <div class="panel-body">
	 <div class="form">
		<form class="form-validate form-horizontal " id="register_form" method="post">
		      <div class="form-group ">
		        <label for="bname" class="control-label col-lg-2">Select Branch<span class="required">*</span></label>
		         <div class="col-lg-10">
		           <select class="form-control col-lg-2" ng-model="selectBranch" ng-options="branch.name for (x,branch) in branchList" ng-change="selectedBranch()" style="WIDTH: 200px;height: 35px" required="required"></select>
		         </div>             <!-- input-lg m-bot10 -->
		      </div>
		      
		      <div class="form-group ">
		        <label for="bname" class="control-label col-lg-2">Select Class<span class="required">*</span></label>
		         <div class="col-lg-10">
		           <select class="form-control col-lg-2" ng-model="selectClass" ng-options="class.name for (x,class) in classList" ng-change="selectedClass()" style="WIDTH: 200px;height: 35px" required="required"></select>
		         </div>             <!-- input-lg m-bot10 -->
		      </div>
				                                     
			  <div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
					  <a class="btn btn-primary" ng-click="deleteClass()">Delete Class</a>
					        <!--  <button class="btn btn-primary" type="submit">Add Branch</button> -->
					</div>
			  </div>
	   </form>
	</div>
  </div>
</section>