<div class="col-lg-12">
	<h3 class="page-header">
		<i class="fas fa-edit"></i> Rename Class 
	</h3>
	<ol class="breadcrumb">
		<li><i class="fa fa-home"></i><a ui-sref="Home">Home</a></li>
		<li><i class="fa fa-university"></i><a ui-sref="ModifyInstituteStructure">Modify Institute Structure</a></li>
		<li><i class="fas fa-edit"></i>Rename Class</li>		
		
	</ol>
</div> 


<section class="panel" style="WIDTH: 1000px">

<div class="alert alert-info fade in" ng-show="successMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>Selected Class Successfully Renamed</strong> 
 </div>
 
 <div class="alert alert-block alert-danger fade in" ng-show="errorMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>Selected Class not Successfully Renamed</strong> 
 </div>
 
  <div class="alert alert-block alert-danger fade in" ng-show="classExistMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>Selected Class not Successfully Renamed, because class already exist with this name</strong> 
 </div>
 
 <div class="alert alert-block alert-danger fade in" ng-show="sameClassNameMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>Selected class and new class name must be different</strong> 
 </div>
 
  <div class="alert alert-block alert-danger fade in" ng-show="selectBranchMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>Select branch from dropdown list</strong> 
 </div>
 
 <div class="alert alert-block alert-danger fade in" ng-show="selectClassMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>Select class from dropdown list</strong> 
 </div>
 
 <div class="alert alert-block alert-danger fade in" ng-show="classShouldNotBlankMessage">
	 <button data-dismiss="alert" class="close close-sm" type="button">
		 <i class="icon-remove"></i>
     </button>
	<strong>New Class Name should not be blank</strong> 
 </div>

  <div class="panel-body">
	 <div class="form">
		<form class="form-validate form-horizontal " id="register_form" method="post">
		      <div class="form-group ">
		        <label for="bname" class="control-label col-lg-2">Select Branch<span class="required">*</span></label>
		         <div class="col-lg-10">
		           <select class="form-control col-lg-2" ng-model="selectBranch" ng-options="branch.name for (x,branch) in branchList" ng-change="selectedBranch()" style="WIDTH: 200px;height: 35px" required="required"></select>
		         </div>             <!-- input-lg m-bot10 -->
		      </div>
		      
		      <div class="form-group ">
		        <label for="bname" class="control-label col-lg-2">Select Class<span class="required">*</span></label>
		         <div class="col-lg-10">
		           <select class="form-control col-lg-2" ng-model="selectClass" ng-options="class.name for (x,class) in classList" ng-change="selectedClass()" style="WIDTH: 200px;height: 35px" required="required"></select>
		         </div>             <!-- input-lg m-bot10 -->
		      </div>
		
			  <div class="form-group ">
					<label for="cname" class="control-label col-lg-2">New Name to Class<span class="required">*</span></label>
					      <div class="col-lg-10">
					             <input class="form-control col-lg-2" id="Class" name="class" ng-model="newClassName" ng-click="clearMessage()" maxlength="50"  style="WIDTH: 200px" type="text" required="required" />
					       </div>
			  </div>
					                                     
			  <div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
					  <a class="btn btn-primary" ng-click="renameClass()">Rename Class</a>
					        <!--  <button class="btn btn-primary" type="submit">Add Branch</button> -->
					</div>
			  </div>
	   </form>
	</div>
  </div>
</section>