<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
   
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
     >  
    

	<!-- This will automatically locate any and all property files you have 
		within your classpath, provided they fall under the META-INF directory. The 	
		located property files are parsed and their values can then be used within 
		application context files in the form of ${propertyKey}. -->

	<context:annotation-config />

	<context:component-scan base-package="com.app.*" />
	<mvc:annotation-driven />
<mvc:default-servlet-handler/>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- <import resource="classpath:/hibernate-persistence.xml"/> -->


	<mvc:resources mapping="/css/**" location="/css/" cache-period="31556926" />
	<mvc:resources mapping="/fonts/**" location="/fonts/" cache-period="31556926" />
	<mvc:resources mapping="/js/**" location="/js/" cache-period="31556926" />
	<mvc:resources mapping="/img/**" location="/img/" cache-period="31556926" />
	<mvc:resources mapping="/assets/**" location="/assets/" cache-period="31556926" />
	<mvc:resources mapping="/webfonts/**" location="/webfonts/" cache-period="31556926" />
	<mvc:resources mapping="/app/**" location="/app/"  />




	<!--  supply loc --> 
	<context:property-placeholder location="classpath:/database.properties" />
<!--	DS bean  --> 
 
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/database.properties</value>
			</list>
		</property>

		<property name="ignoreResourceNotFound" value="true"  />
		<property name="searchSystemEnvironment" value="true" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>



	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="${driver}"
		p:url="jdbc:mysql://${ip}:${port}/${database}"
		p:username="${username}" p:password="${password}"
		p:initialSize="1" p:maxActive="2" destroy-method="close">
	</bean>
	<!-- configure Hibernate 4 specific local session factory bean -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		p:packagesToScan="com.app.pojo" p:dataSource-ref="dataSource">
		<property name="hibernateProperties">
		<props>  
				<prop key="hibernate.dialect">${dialect}</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="connection.autoReconnect">true</prop>
				<prop key="	connection.autoReconnectForPools">true</prop>
				<prop key="connection.is-connection-validation-required">true</prop>
				<prop key="hibernate.c3p0.validate">true</prop>
				<prop key="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</prop>
				<prop key="hibernate.c3p0.min_size">5</prop>
				<prop key="hibernate.c3p0.max_size">20</prop>
				<prop key="hibernate.c3p0.timeout">60</prop>
				<prop key="hibernate.c3p0.max_statements">50</prop>
				<prop key="hibernate.c3p0.preferredTestQuery">SELECT 1</prop>
				<prop key="hibernate.c3p0.testConnectionOnCheckout">true</prop>  
       </props>  
		<!-- 	<value>
				hibernate.dialect=${dialect}
				hibernate.format_sql=true
				hibernate.show_sql=true
				hibernate.hbm2ddl.auto=update
				connection.autoReconnect=true
				connection.autoReconnectForPools=true
				connection.is-connection-validation-required=true
				hibernate.c3p0.validate=true
				connection.provider_class=org.hibernate.connection.C3P0ConnectionProvider
				hibernate.c3p0.min_size=5
				hibernate.c3p0.max_size=20
				hibernate.c3p0.timeout=60
				hibernate.c3p0.max_statements=50
				hibernate.c3p0.preferredTestQuery=SELECT 1;
				hibernate.c3p0.testConnectionOnCheckout=true
			</value> -->
			
			
		</property>
	</bean>
	<!-- configure tx mgr bean -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory">
	</bean>
	<!-- enable tx annotation suuport -->
	<tx:annotation-driven />
	
<!-- 	    <aws-context:context-region region="..."/>
 -->           
  <!-- <aws-context:context-credentials>
   <aws-context:simple-credentials access-key="AKIAJH5O2TK7FFPBFEPA" secret-key="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" />
  </aws-context:context-credentials>
	 -->

	
</beans>